.fav-iframe {
  width: 20px;
  height: 20px; }

.post-content, .galleria_posts {
  height: 100%; }

.like_icon {
  height: 20px;
  line-height: 20px;
  margin: 10px 0 0; }
  .like_icon .fl {
    float: left;
    margin-right: 10px; }
  .like_icon .love {
    width: 20px;
    overflow: hidden; }

.gallery_tip {
  background-color: rgba(255, 255, 255, 0.52);
  background-color: #fff\9;
  position: fixed;
  top: 50%;
  z-index: 3;
  width: 460px;
  margin-top: -48px;
  left: -460px;
  color: #999;
  padding-bottom: 15px;
  overflow: hidden; }
  .gallery_tip .gallery_tip_wrap {
    margin: 20px 30px 0 30px; }
    .gallery_tip .gallery_tip_wrap .description {
      max-height: 150px; }
      .gallery_tip .gallery_tip_wrap .description .desc-i {
        position: relative;
        top: 0; }
  .gallery_tip h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: black;
    line-height: 40px;
    padding-bottom: 10px; }

.gallery_toolbar {
  position: fixed;
  right: -264px;
  top: 50%;
  height: 62px;
  margin-top: -31px;
  z-index: 9;
  display: none; }

.gallery_toolbar a {
  float: left;
  margin-right: 10px;
  margin-top: 12px;
  position: relative;
  text-indent: -9999px;
  width: 38px;
  height: 38px;
  background-image: url(http://x.libdd.com/farm1/022f69/c3e7dad3/btntoolfullscreen.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #000\9;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  -webkit-transition-duration: 0.20s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-duration: 0.20s;
  -moz-transition-timing-function: ease-out; }

.gallery_toolbar a:hover {
  background-color: #e73f18; }

.gallery_toolbar a.gallery_play {
  background-position: -4px -82px; }

.gallery_toolbar a.gallery_play.gallery_pause {
  background-position: -7px -13px; }

.gallery_toolbar a.gallery_back, .gallery_toolbar a.gallery_back_nojax {
  background-position: -226px -13px; }

.gallery_toolbar a.gallery_back > span, .gallery_toolbar a.gallery_back_nojax > span {
  background-position: -270px -70px; }

.gallery_toolbar a.gallery_back:hover > span, .gallery_toolbar a.gallery_back_nojax:hover > span {
  opacity: 1; }

.gallery_toolbar a.tip {
  background-position: -53px -82px; }

.gallery_toolbar a.tip.tip_close {
  background-position: -57px -13px; }

.four_wrap {
  top: 30%;
  min-height: inherit;
  height: auto; }

.content_wrap {
  position: relative;
  width: 640px;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #fff\9;
  margin-right: auto;
  margin-left: auto;
  margin-top: 600px;
  color: #666; }
  .content_wrap a {
    color: #C30; }

.content_wrap .entry {
  color: #777;
  padding: 30px 30px; }
  .content_wrap .entry .like_icon {
    margin-bottom: 0; }

.content_wrap h1, .gallery_tip h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  overflow: hidden;
  word-break: break-word; }

.content_wrap h1 {
  padding: 40px 30px 0; }

.closeBtn {
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background: url(http://x.libdd.com/farm1/b332a0/3c20ecae/icon.png) no-repeat -135px 0px; }

.closeBtn span {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(http://x.libdd.com/farm1/b332a0/3c20ecae/icon.png) no-repeat -175px 0px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s; }

.closeBtn:hover span {
  opacity: 1; }

.content_wrap .meta .meta-info .fl {
  margin-right: 15px; }

.content_wrap .meta ul.like_icon_instand {
  display: block;
  float: left; }

ul.like_icon_instand li {
  float: left;
  width: 80px; }

ul.like_icon_instand li.post_tweet {
  width: 88px; }

.content_wrap .meta {
  margin: 10px 30px 20px 30px;
  color: #666666; }

.meta .author {
  padding: 0 15px; }

blockquote ul li {
  list-style: disc;
  margin-left: 20px; }

.comment {
  width: 630px;
  margin: 0 auto;
  margin-bottom: 10px; }

.live-comment {
  width: 580px;
  margin: 0 auto;
  padding-right: 10px; }
  .live-comment a {
    cursor: pointer;
    background: url(http://x.libdd.com/farm1/022f69/fa27a2eb/ico-arrow.png) no-repeat 100% 6px;
    display: block;
    width: 60px;
    color: #c30; }
  .live-comment.open a {
    background-position: 100% -10px;
    -webkit-transition-duration: 0.20s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-duration: 0.20s;
    -moz-transition-timing-function: ease-out; }

.gallery_tip_wrap .live-comment {
  width: 50px; }

.comment-photo {
  padding: 0 15px; }

.gallery_toolbar .galleria-image-nav-left,
.gallery_toolbar .galleria-image-nav-right {
  background-image: url(http://x.libdd.com/farm1/022f69/c3e7dad3/btntoolfullscreen.png);
  background-repeat: no-repeat; }
.gallery_toolbar .galleria-image-nav-left,
.gallery_toolbar .galleria-image-nav-right {
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: 0 0;
  -webkit-border-radius: 19px;
  -moz-border-topright: 19px;
  border-radius: 19px;
  -webkit-transition-duration: 0.20s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-duration: 0.20s;
  -moz-transition-timing-function: ease-out; }
.gallery_toolbar .galleria-image-nav-right {
  background-position: -155px 0;
  z-index: 2;
  width: 62px;
  height: 62px;
  background-color: #e73f18;
  border-radius: 31px;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  margin-top: 0; }
.gallery_toolbar .galleria-image-nav-left {
  background-position: -109px -12px; }
